@import "https://fonts.googleapis.com/css?family=Lato:300&display=swap";

$miletra:"Lato";
$tamanoletra:3.5vw;
$gruesoletra:300;
$colorletra: white;

$mialtura:100vh;

$fondostripe1: #244F75;
$fondostripe2: #60BFBF;
$fondostripe3: #8C4B7E;
$fondostripe4: #F8BB44;
$fondostripe5: #F24B4B;
@mixin alineacion {
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes strip--u4rx9pe {
	from {
		transform: translate3d(-100%, 0, 0);
	}
}
@keyframes strip--u4rx9pg {
	from {
		transform: translate3d(0, 100%, 0);
	}
}
@keyframes strip--u4rx9q8 {
	from {
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes strip--u4rx9qn {
	from {
		transform: translate3d(0, 100%, 0);
	}
}
@keyframes strip--u4rx9r0 {
	from {
		transform: translate3d(100%, 0, 0);
	}
}
* {
	box-sizing: border-box;
}
body {
	margin: 10px 0 0 0;
}
h1 {
	font-size: $tamanoletra;
	font-weight:$gruesoletra;
	color:$colorletra;
	font-family: $miletra;
}
.strips {
	height: $mialtura;
	width: 100vw;
	overflow: hidden;
	text-align: center;
	display: flex;
	cursor: pointer;
	.strip {
        @include alineacion;
		position: relative;
		width: 19.9vw;
		margin: 0.1vw;
		height: $mialtura;
		text-align: center;
		overflow: hidden;
		
		
		.strip_content {
			@include alineacion;
			position: absolute;
			height: $mialtura;
			width: 100%;
			text-align: center;
		}
	}
	.strip_content {
		&:before {
			content: "";
			@include alineacion;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 20vw;
			height: $mialtura;
			background: white;
			opacity: 0.05;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
			transform: skew(30deg) scaleY(1) translate(0, 0);
			transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
			overflow: hidden;
		}
		&:hover {
			&:before {
				-webkit-transform: skew(0deg) scaleX(2) translate(0, 0);
				transform: skew(0deg) scaleX(2) translate(0, 0);
				opacity: 0.2;
			}
		}
	}
}
.strip {
	&:nth-child(1) {
		.strip_content {
			background-color:$fondostripe1;
			animation-name: strip--u4rx9pe;
			animation-duration: 0.5s;
			animation-timing-function: ease-out;
		}
	}
	&:nth-child(2) {
		.strip_content {
			background-color: $fondostripe2;
			animation-name: strip--u4rx9pg;
			animation-duration: 0.8s;
			animation-timing-function: ease-out;
		}
	}
	&:nth-child(3) {
		.strip_content {
			background-color: $fondostripe3;
			animation-name: strip--u4rx9q8;
			animation-duration: 0.7s;
			animation-timing-function: ease-out;
		}
	}
	&:nth-child(4) {
		.strip_content {
			background-color: $fondostripe4;
			animation-name: strip--u4rx9qn;
			animation-duration: 1s;
			animation-timing-function: ease-out;
		}
	}
	&:nth-child(5) {
		.strip_content {
			background-color: $fondostripe5;
			animation-name: strip--u4rx9r0;
			animation-duration: 1.1s;
			animation-timing-function: ease-out;
		}
	}
}
